@tailwind base;
@tailwind components;
@tailwind utilities;



/* Global */
.navbarfont {
    font-family: 'Roboto', sans-serif;
}

.globalTxt {
    font-family: 'Roboto', sans-serif;
}
.w{
    width: 100dvw;
}


/* navbar */
.home {
    color: #FE980E
}

.navbartext {
    color: #656565;

}

.navbartext:hover {
    color: #FE980E;
}

.navBtn {
    background-image: linear-gradient(#FFCF40, #FE960C);
    box-shadow: none;
}

.navBtn:hover {
    box-shadow: 0px 7px 20px 0px #fea2178e;
}


/* Hero section */
.txt {
    font-family: 'Laila', sans-serif;
}

.gradientTxt {
    background-image: linear-gradient(90deg,#FEB349,#F58BEA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    

}

.txt2 {
    color: #474747;
}
.h{
    height: 100dvh;
}