@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* navbar */
.home{
    color: #FE980E
}
.navbarfont{
    font-family: 'Roboto', sans-serif;
    
}
.navbartext{
    color: #656565;

}
.navbartext:hover{
    color: #FE980E;
}
.navBtn{
    background-image: linear-gradient(#FFCF40, #FE960C);
    box-shadow: none;
}
.navBtn:hover{
    box-shadow: 0px 7px 20px 0px #fea2178e;
}


/* Hero section */
